/* CSS declarations go here */
@font-face {
    font-family: westeros;
    src: url("/Game of Thrones.ttf");
}

body {
    margin: 0;
    padding: 0;
    background-color: #111122;
    font-family: westeros;
    color: #AEBDCC;
}

a {
    font-family: westeros;
    text-decoration: none;
}

a:link {
    color: #a5acc9;
}

a:visited {
    color: #a5acc9;
}

div {
    padding: 0;
    margin: 0;
}

#canvasDiv {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -100;
}

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #2e2e2e;
    display: inline-block;
}